body { margin:0px; overflow: hidden;}
form { margin-bottom:0px; border:0; }
label {
    display: block;
    margin-bottom:5px;
}
input[type=text] {
    display: block;
    width: 100%;
    padding:8px 7px;
    margin-bottom: 7px;
    color: #545454;
    border: 1px solid #c9c9c9;
    -moz-box-shadow:    inset 1px 1px 5px #c9c9c9;
    -webkit-box-shadow: inset 1px 1px 5px #c9c9c9;
    box-shadow:         inset 1px 1px 5px #c9c9c9;
}
.rounded-5 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.weight-normal { font-weight: 400; }
.text-smallest { font-size: .9rem; }
.roboto, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.btn-gold {
    background: #ffdc24; /* Old browsers */
    background: -moz-linear-gradient(top, #ffdc24 0%, #ecaf00 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffdc24 0%,#ecaf00 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffdc24 0%,#ecaf00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc24', endColorstr='#ecaf00',GradientType=0 ); /* IE6-9 */
    display: block;
    text-align: center;
    border: 1px solid #d9a102;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    padding:12px 3px;
    width:100%;
}
.btn-gold:hover {
    background: #ecaf00; /* Old browsers */
    background: -moz-linear-gradient(top, #ecaf00 0%, #ffdc24 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ecaf00 0%,#ffdc24 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ecaf00 0%,#ffdc24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecaf00', endColorstr='#ffdc24',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}
.icon-arrow-down-green
{
    display: block;
    margin:0 auto;
    position: relative;
    left: -15%;
}
.mb-2 { margin-bottom:2rem; }
.mb-1 { margin-bottom:1rem; }
span.response {
    display: block;
    margin-bottom:10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
@media screen and (min-width: 1200px)
{
    span.response
    {
        max-width:225px;
    }
}
