.sw { max-width: 1027px; }
h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    line-height: 130%;
}
h4, h5, h6, p, div, li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1 { font-size: 2.9rem; }
h2 {
    font-size: 2.3rem;
    color: $green;
    margin-bottom: 1.75rem;
}
ul {  }
li {
    font-size: 1.3rem;
    list-style: none;
    position: relative;
    margin-bottom:1rem;

    strong
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-bottom: .5rem;
        display: block;
    }
    span
    {
        font-family: $roboto;
        font-weight: 300;
        color: #333333;
    }
}
li:before {
    content:'\00b7';
    font-size:100px;
    line-height:24px;
    vertical-align:middle;
    position: absolute;
    left: -2.8rem;
    top: .2rem;
}
p { font-size: 1.5rem; margin-bottom: 1.5rem; }
.weight-light { font-weight: 300; }
.weight-medium { font-weight: 500; }
.no-txt-dec { text-decoration: none; }
.text-1-15 { font-size: 1.15rem; }
.text-smaller { font-size: 1.32rem; }
.text-smallest { font-size: .9rem; }
.icon-phone {
    padding-left:30px;
    background-image: url('../images/icon-phone.jpg');
    background-position: left center;
    background-size: auto;
    background-repeat: no-repeat;
}
.icon-arrow {
    padding-right:175px;
    background-image: url('../images/icon-arrow.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto;
    display: block;
    @media screen and ( min-width:992px ) and ( max-width:1199px )
    {
        background-image: url('../images/icon-arrow-1024.png');
        background-size: contain;
        padding: 20px 0px;
        padding-right:80px;
    }
    @media screen and ( min-width:675px ) and ( max-width:991px )
    {
        background-image: url('../images/icon-arrow-768.png');
        background-size: contain;
        padding: 40px 0px;
        padding-right:80px;
    }
    @media screen and (max-width: 767px)
    {
        padding:40px 60px 40px 0px;
        background-image: url('../images/icon-arrow-down.jpg');
        background-size: contain;
    }
}
a.tel, a.tel-footer {
    @media screen and (min-width:1025px)
    {
        pointer-events: none;
    }
    text-decoration: inherit;
    color: inherit;
    font-family: inherit;
}
.blue { color: $blue; }
.green { color: $green; }
.gold { color: $gold; }
.white { color: $white; }
.bg-green { background-color: $bg-green; }
.bg-gray { background-color: $bg-gray; }
.bg-dk-gray { background-color: $bg-dk-gray; }
.bottom-shadow {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.29);
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.29);
 }
.lh100 { line-height: 100%; }
.lh120 { line-height: 120%; }
.lh130 { line-height: 130%; }
.lh140 { line-height: 140%; }
.lh150 { line-height: 150%; }
.mw100 { max-width:100%; }
.mw225 { max-width: 225px; }
.w100 { width:100%; }
.z10 { position: relative; z-index: 10; }
.mb25 { margin-bottom:2.5rem; }
.mt25 { margin-top:2.5rem; }
.brand {
    @media screen and ( max-width:767px ) { width:100%; display: block;}
}
iframe {
    overflow: hidden;
    border: 0;
    width: 100%;
}
