// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$blue: #006595;
$green: #349946;
$bg-green: #4c8c2b;
$bg-gray: #eeeeee;
$bg-dk-gray: #f0f0f0;
$gold: #fed400;
$white: #ffffff;
$border-gray: #c9c7c7;

// fonts
$roboto: 'Roboto', sans-serif;
