a.brand img
{
    @media screen and (max-width:767px)
    {
        margin:0 auto;
    }
}
.phone
{
    @media screen and (max-width:767px)
    {
        text-align: center;
    }
    @media screen and (min-width:768px)
    {
        text-align: right;
    }
}
