.bg-img
{
    width:100%;
    background-image:url('../images/image-inspiring-business-performance.jpg');
    background-size:cover;
    background-position: right top;
    @media screen and (max-width: 992px)
    {
        min-height:400px;
    }
}
